input {
    background: var(--color-surface-primary);
    padding: 12px 16px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--color-text-primary);
    outline: none;
}

input:focus {
    border: 1px solid var(--color-stroke-highlight);
    box-shadow: 0px 0px 4px 3px rgb(254, 231, 214);
}

.disabled-input {
    background: var(--color-surface-disabled);
}