.div-input-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/** Configurações para desabilitar campo */
.div-input-component.input-disabled > input {
    background: var(--color-surface-disabled) !important;
}

.div-input-component.input-disabled > label {
    color: var(--color-text-secondary) !important;
    opacity: 0.8;
}

.div-input-component.input-disabled > span {
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.8;
    color: var(--color-text-secondary) !important;
}

/** Configurações para campo com mensagem de erro */
.div-input-component.input-error > label {
    color: var(--color-text-secondary);
}

.div-input-component.input-error > input {
    border: 1px solid var(--color-semantic-error);
}

.div-input-component.input-error > span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
    color: var(--color-semantic-error);
}

.div-input-component.input-error > span > img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/** Configurações para todos os tipos de inputs */
.div-input-component > label {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    font-weight: 500;
}

.div-input-component > input {
    background: var(--color-surface-primary);
    padding: 12px 16px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--color-text-primary);
    outline: none;
}

.div-input-component > input::-webkit-input-placeholder {
    color: var(--color-text-tertiary);
    font-size: 1rem;
}

.div-input-component > input:focus {
    border: 1px solid var(--color-stroke-highlight);
    box-shadow: 0px 0px 4px 3px rgb(254, 231, 214);
}

.div-input-component > span {
    font-size: 0.875rem;
    font-weight: 400;
    color: #78716C;
}

/** Configurações especificas para inputs do tipo date */
.div-input-component > input[type="date"] {
    background: url('../../assets/img/calendar-03.svg') no-repeat var(--color-surface-primary);
    background-position: calc(100% - 16px) center;
}

.div-input-component > input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

/** Configurações para especificas para o campo textarea */
.div-input-component > textarea {
    background: var(--color-surface-primary);
    padding: 12px 16px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--color-text-primary);
    outline: none;
}

.div-input-component > textarea:focus {
    border: 1px solid var(--color-stroke-highlight);
    box-shadow: 0px 0px 4px 3px rgb(254, 231, 214);
}

/** Configurações para especificas para o campo input file */
.div-input-component .input-file-label {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    font-weight: 500;
}

.div-input-component .input-file-content {
    height: 160px;
    padding: 24px 16px;
    border: 2px dashed var(--color-stroke-default);
    border-radius: 8px;
    cursor: pointer;
    background: url('../../assets/img/cloud-upload.svg') no-repeat;
    background-position: center 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-input-component .input-file-content::after {
    content: 'Clique aqui para selecionar arquivos';
    margin-top: calc(84px - 24px);
    font-size: 1rem;
    font-weight: 400;
    color: #A8A29E;
    max-width: 20ch;
    text-align: center;
}

.div-input-component .input-file-content:hover {
    border: 2px dashed var(--color-brand-mid);
    background: url('../../assets/img/cloud-upload-hover.svg') no-repeat var(--color-surface-secondary);
    background-position: center 34px;
}

.div-input-component .input-file-content:hover::after {
    color: var(--color-text-tertiary);
}

.div-input-component > input[type="file"] {
    display: none;
}

.div-input-component .input-file-descricao {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
    font-weight: 300;
}

/** Configurações para especificas para o campo select */
.div-input-component > select {
    appearance: none;
    background: url('../../assets/img/arrow-down-01.svg') no-repeat var(--color-surface-primary);
    background-position: calc(100% - 16px) center;
    padding: 12px 16px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--color-text-primary);
    outline: none;
    cursor: pointer;
}

.div-input-component > select:focus {
    border: 1px solid var(--color-stroke-highlight);
    box-shadow: 0px 0px 4px 3px rgb(254, 231, 214);
}

.div-input-component > select:active {
    background: url('../../assets/img/arrow-down-01-select.svg') no-repeat var(--color-surface-primary);
    background-position: calc(100% - 16px) center;
}

.div-input-component > select > option {
    font-size: 1rem;
    color: var(--color-text-secondary);
    font-weight: 400;
}