.cards-radios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cards {
    width: 50%;
    padding: 32px 16px 16px 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
}

.cards > input {
    position: absolute;
    top: 9.25px;
    left: 9.25px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 1rem;
    z-index: 2;
    opacity: 0;
}

.div-radio {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9.25px;
    left: 9.25px;
    background: url('../../assets/img/circle.svg') no-repeat;
}

.cards > input:checked + .div-radio {
    background: url('../../assets/img/checkmark-circle-01.svg') no-repeat;
}

.cards > input:checked + .cards {
    border: 1px solid var(--color-brand-mid);
}

.check-div-radio {
    border: 2px solid var(--color-brand-mid);
}