@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-brand-light: #F67841;
    --color-brand-mid: #F3541C;
    --color-brand-dark: #E43A12;
    --color-text-primary: #292524;
    --color-text-secondary: #57534E;
    --color-text-tertiary: #8F8881;
    --color-text-highlight: #E43A12;
    --color-surface-primary: #FFFFFF;
    --color-surface-secondary: #FEE7D6;
    --color-surface-disabled: #E7E5E4;
    --color-stroke-default: #D6D3D1;
    --color-stroke-highlight: #F3541C;
    --color-semantic-error: #DC2626;
    --color-orange: #F9A474;
    --color-yellow: #FEDF6F;
    --color-green: #C7D78D;
    --color-blue: #B8CEDC;
    --color-violet: #C3B2E7;
    --color-pink: #F682A5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}